.main-container {
	padding-right : 10%;
	padding-left  : 10%;
	padding-top   : 90px;

	.io-container {
		padding-left  : 15px;
		padding-right : 15px;
	}

	.io-inner-container {
		background-color : #fff;
	}

	.io-left-section {
		border-right       : lightgrey;
		border-right-style : solid;
		border-width : thin;
		}
}
