<div class="main-container">
	<div class="well well-lg">
		<h3>Key Value Store</h3>
		<div class="io-container">
			<div class="row io-inner-container">
				<div class="col-lg-6 col-md-6 io-left-section">
					<h4>Input</h4>
					<hr>
					<form data-ng-submit="vm.submitEntry()" name="keyValForm">
						<div class="form-group">
							<label>Key</label>
							<input class="form-control" placeholder="Key" data-ng-model="vm.key" required>
						</div>
						<div class="form-group">
							<label>Value</label>
							<input class="form-control"  placeholder="Value" data-ng-model="vm.value">
						</div>

						<div class="form-group">
							<label>Timestamp</label>
							<input class="form-control"  placeholder="Timestamp" data-ng-model="vm.timestamp" type="number">
						</div>
						<button type="submit" class="btn btn-default" ng-disabled="keyValForm.$invalid || vm.checkSelectedTime()" data-ng-if="vm.includeDate">Submit</button>
						<button type="submit" class="btn btn-default" ng-disabled="keyValForm.$invalid" data-ng-if="!vm.includeDate">Submit</button>
					</form>
				</div>
				<div class="col-lg-6 col-md-6">
					<h4>Output</h4>
					<hr>
					<h4>{{vm.outputMessage}}</h4>
					<div>
						<label>Key</label>
						<p>{{vm.output.key || ''}}</p>
					</div>
					<div>
						<label>Value</label>
						<p>{{vm.output.value || ''}}</p>
					</div>
					<div>
						<label>Unix Timestamp</label>
						<p>{{vm.output.timestamp || ''}}</p>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>